<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Chaton", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
        <section class="container flex p-2">
            <a href="/app" class="flex-grow">
                <img class="h-8" src="<%= Routes.static_path(@conn, "/images/chaton.png") %>" alt="Company logo">
            </a>
            <%= if @current_admin do %>
            <ul>
                <%= link "Log out", to: Routes.auth_path(@conn, :delete), method: :delete, class: 'block px-4 py-2 text-sm text-white-400 hover:bg-gray-700', role: 'menuitem' %>
            </ul>
            <% end %>
        </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
